<!-- <div class="video-chat-container">
  <div class="w-100">
    <div class="videos-container">
      <div class="video-grid">
        <div *ngFor="let stream of videoStreams; let i = index" class="video-container">
          <video [srcObject]="stream" id="{{ 'videoElement-' + i }}" class="video-element" autoplay muted></video>
        </div>
      </div>
    </div>

    <div class="controls-container">
      <button class="control-button" (click)="toggleAudio()" [title]="isAudioMuted ? 'Unmute' : 'Mute'">
        <i class="fas" [ngClass]="{ 'fa-microphone': !isAudioMuted, 'fa-microphone-slash': isAudioMuted }"></i>
      </button>

      <button class="control-button" (click)="toggleVideo()" [title]="isVideoOff ? 'Turn On Video' : 'Turn Off Video'">
        <i class="fas" [ngClass]="{ 'fa-video': !isVideoOff, 'fa-video-slash': isVideoOff }"></i>
      </button>

      <button class="control-button" (click)="openChat()" title="Chat">
        <i class="fas fa-comment"></i>
      </button>

      <button class="control-button" (click)="shareScreen()" [title]="isScreenSharing?'Stop Sharing':'Share Screen'">
        <i class="fas" [ngClass]="{'fa-desktop': !isScreenSharing, 'fa-stop-circle': isScreenSharing}"></i>
      </button>

      <button class="control-button" (click)="recordVideo()" [title]="isRecording ? 'Stop Recording' : 'Start Record'">
        <i class="fas" [ngClass]="{'fa-circle': !isRecording, 'fa-stop-circle': isRecording}"></i>
      </button>

      <button class="control-button bg-danger" (click)="stopVideo()" title="End Meeting">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>

  <div class="chat-container" [hidden]="!isChatOpen">
    <div class="d-flex">
      <button class="text-light btn p-2" style="border-radius: 10px 0 0 10px;" (click)="onShowParticipants()"><i
          class="fas fa-users"></i></button>
      <button class="text-light btn p-2" style="border-radius: 0 10px 10px 0;" (click)="onShowParticipants()"><i
          class="fas fa-comment"></i></button>
    </div>

    <div *ngIf="showParticipants">
      <div *ngFor="let participant of participants">
        <p class="m-2" *ngIf="participant.name === currentUser" >{{ participant.name === currentUser ? 'You' : participant.name }} ({{ participant.name }})</p>
        <p class="m-2" *ngIf="participant.name !== currentUser">{{ participant.name }}</p>
      </div>
    </div>
    


    <div class="w-100" *ngIf="!showParticipants">
      <div class="chat-messages">
        <ul>
          <li *ngFor="let message of chatMessages"
            style="background-color: rgb(97, 114, 130);padding: 8px; border-radius: 0 10px 10px 10px;margin-bottom: 4px;width: fit-content;max-width: 80%; flex-wrap: wrap;">
            {{ message.sender === currentUser ? 'You' : message.sender }}: {{ message.content }}
          </li>
        </ul>
      </div>

      <div class="chat-input">
        <input type="text" [(ngModel)]="newMessage" class="input-field p-2" placeholder="Type your message">
        <button (click)="sendMessage()" class="btn p-2" style="border-radius: 0 10px 10px 0;">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div> -->


<div class="video-chat-container d-flex align-items-center">

  <div class="video-list-constainer" style="height: 90vh; border: 1px solid white;">
    <div class="videos-container">
      <!-- <div class="video-grid">
        <div *ngFor="let stream of videoStreams; let i = index" class="video-container w-100">
          <video [srcObject]="stream" id="{{ 'videoElement-' + i }}" class="video-element" autoplay muted></video>
        </div>
        <div *ngFor="let participant of participants">
          <p>{{ participant.name }}</p>
          <video *ngIf="participant.id === '1'" #localVideo autoplay muted></video>
          <video *ngIf="participant.id !== '1'" [srcObject]="getParticipantStream(participant.id)" autoplay></video>
        </div>
        
      </div> -->
      <div class="video-grid">
        <div *ngFor="let stream of videoStreams; let i = index" class="video-container">
          <video [srcObject]="stream" id="{{ 'videoElement-' + i }}" class="video-element" autoplay muted></video>
        </div>
      </div>
    </div>

    <div class="controls-container">
      <button class="control-button" (click)="toggleAudio()" [title]="isAudioMuted ? 'Unmute' : 'Mute'">
        <i class="fas" [ngClass]="{ 'fa-microphone': !isAudioMuted, 'fa-microphone-slash': isAudioMuted }"></i>
      </button>

      <button class="control-button" (click)="toggleVideo()" [title]="isVideoOff ? 'Turn On Video' : 'Turn Off Video'">
        <i class="fas" [ngClass]="{ 'fa-video': !isVideoOff, 'fa-video-slash': isVideoOff }"></i>
      </button>

      <button class="control-button" (click)="openChat()" title="Chat">
        <i class="far fa-comment"></i>
      </button>

      <button class="control-button" (click)="shareScreen()" [title]="isScreenSharing?'Stop Sharing':'Share Screen'">
        <i class="fas" [ngClass]="{'fa-desktop': !isScreenSharing, 'fa-stop-circle': isScreenSharing}"></i>
      </button>

      <button class="control-button" (click)="recordVideo()" [title]="isRecording ? 'Stop Recording' : 'Start Record'">
        <i class="far" [ngClass]="{'fa-circle': !isRecording, 'fa-stop-circle': isRecording}"></i>
      </button>

      <button class="control-button bg-danger" (click)="stopVideo()" title="End Meeting">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>

  <div class="chat-container" [@slideAnimation]="isChatOpen ? 'open' : 'closed'">
    <div class="d-flex justify-content-between p-3">
      <div>
        <button class="text-light btn p-2" style="border-radius: 10px 0 0 10px;" (click)="onShowParticipants()"><i
            class="fas fa-users"></i></button>
        <button class="text-light btn p-2" style="border-radius: 0 10px 10px 0;" (click)="onShowParticipants()"><i
            class="fas fa-comment"></i></button>
      </div>
      <button class="text-light btn p-2" (click)="toggleChat()"><i class="fas fa-times"></i></button>
    </div>

    <div *ngIf="showParticipants" class="p-3 text-light">
      <div *ngFor="let participant of participants">
        <p class="m-2" *ngIf="participant.name === currentUser">{{ participant.name === currentUser ? 'You' :
          participant.name }} ({{ participant.name }})</p>
        <p class="m-2" *ngIf="participant.name !== currentUser">{{ participant.name }}</p>
      </div>
    </div>

    <div class="w-100" *ngIf="!showParticipants">
      <div class="chat-messages  p-3">
        <ul>
          <li *ngFor="let message of chatMessages"
            style="background-color: rgb(159, 177, 196);padding: 2px 8px; border-radius: 0 10px 10px 10px;width: fit-content;max-width: 80%; flex-wrap: wrap;font-size: 14px; margin-bottom: 4px;">
            <strong>{{ message.sender === currentUser ? 'You' : message.sender }}</strong>: {{ message.content }}
            <p class="m-0" style="font-size: 10px;">{{ getCurrentTime() }} </p>
          </li>
        </ul>
      </div>

      <div class="chat-input">
        <input type="text" [(ngModel)]="newMessage" class="input-field p-2" placeholder="Type your message">
        <button (click)="sendMessage()" class="btn p-2">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div> 

<!-- <div *ngFor="let participant of participants">
  <p>{{ participant.name }}</p>
  <video *ngIf="participant.id === '1'" #localVideo autoplay muted></video>
  <video *ngIf="participant.id !== '1'" [srcObject]="getParticipantStream(participant.id)" autoplay></video>
  <div>
    <button (click)="toggleCamera(participant.id)">
      {{ participant.cameraOn ? 'Turn Off Camera' : 'Turn On Camera' }}
    </button>
    <button (click)="toggleMute(participant.id)">
      {{ participant.muted ? 'Unmute' : 'Mute' }}
    </button>
  </div>
</div> -->
